<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title Hello Bulma!
    script(src="https://unpkg.com/vue")
    link(rel="stylesheet" type="text/css" href="css/bulma.min.css")
  
  body
    section.section
      .container
        h1.title Hello World
        p.subtitle My first website with <strong>Bulma</strong>!
        
        //- https://bulma.io/documentation/helpers/visibility-helpers/#hide
        
        a.button.is-primary.is-hidden-touch Akcja dla komputera
        a.button.is-success.is-hidden-desktop Akcja dla smartfona i tabletu
