<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title Hello Bulma!
    script(src="https://unpkg.com/vue")
    //- link(rel="stylesheet" type="text/css" href="css/bulma.min.css")
    link(rel="stylesheet" type="text/css" href="css/bulmaswatch.simplex.min.css")
  
  body
    section.section
      .container
    
        //- https://darekp7.github.io/tacit-toy/index.html
    
        //- https://bulma.io/documentation/helpers/visibility-helpers/#hide
        
        
        .columns
            .column.is-full
                nav.navbar.is-black
                  .navbar-brand
                    a.navbar-item(href="https://bulma.io")
                        img(src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28")
                    a.navbar-item.is-hidden-desktop(href="https://github.com/jgthms/bulma" target="_blank")
                        span.icon(style="color: #333;") <i class="fab fa-github"></i>
                    a.navbar-item.is-hidden-desktop(href="https://twitter.com/jgthms" target="_blank")
                        span.icon(style="color: #55acee;") <i class="fab fa-twitter"></i>
                    .navbar-burger.burger(data-target="navMenuExample9")
                        span
                        span
                        span
                    .navbar-menu(id="navMenuExample9")
                br
          
        
        .columns
            .column.is-one-fifth.is-hidden-touch(style="background-color:#99cc00;")
                aside.menu
                    p.menu-label(style="color:black;") General
                    ul.menu-list
                        li <a>Dashboard</a>
                        li <a>Customers</a>
                    p.menu-label Administration
                    ul.menu-list
                        li <a>Team Settings</a>
                        li
                          a.is-active Manage Your Team
                          ul
                            li <a>Members</a>
                            li <a>Plugins</a>
                            li <a>Add a member</a>
                        li <a>Invitations</a>
                        li <a>Cloud Storage Environment Settings</a>
                        li <a>Authentication</a>
                    p.menu-label Transactions
                    ul.menu-list
                        li <a>Payments</a>
                        li <a>Transfers</a>
                        li <a>Balance</a>

                p Menu boczne
                br
                p dla desktopa
            .column.is-size-1-touch.
                lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla 
                lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla 
                lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla
                lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla
                lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla lorem ipsum bla bla bla
        
        a.button.is-success.is-hidden-desktop(style="border: 1px solid black;") Akcja dla smartfona i tabletu
        a.button.is-primary.is-hidden-touch(style="border: 1px solid black;") Akcja dla komputera
